<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>webapp</display-name>
    <welcome-file-list>
        <welcome-file>LoginPage.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>webapp.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>webapp.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>NewUser</servlet-name>
        <servlet-class>webapp.NewUser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NewUser</servlet-name>
        <url-pattern>/NewUser</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>webapp.DeleteProduct</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>NewProduct</servlet-name>
        <servlet-class>webapp.NewProduct</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NewProduct</servlet-name>
        <url-pattern>/NewProduct</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>webapp.EditProduct</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/EditProduct</url-pattern>
    </servlet-mapping>
</web-app>
